<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>clinicalsummary</id>
	<name>Summary Module</name>
	<version>3.7.r@MODULE_REVISION@</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Brian McKown</author>
	<description>
			Display and print patient clinical summary
	</description>
	
	<require_modules>
		<require_module version="0.1">org.openmrs.logic</require_module>
	</require_modules>

	<activator>@MODULE_PACKAGE@.SummaryActivator</activator>
	
	<require_version>1.6.0.11808</require_version>
	
	<extension>
		<point>org.openmrs.patientDashboard.Header</point>
		<class>@MODULE_PACKAGE@.extension.html.SummaryDashboardHeaderExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.SummaryAdminExt</class>
	</extension>
	
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>@MODULE_PACKAGE@.advice.EncounterCreatedAdvice</class>
	</advice>
	<privilege>
		<name>Manage Summaries</name>
		<description>Able to add/edit summary templates</description>
	</privilege>
	<privilege>
		<name>View Summaries</name>
		<description>Able to view clinical summaries</description>
	</privilege>
	<privilege>
		<name>Generate Summaries</name>
		<description>Able to generate clinical summaries</description>
	</privilege>
	<privilege>
		<name>Print Summaries</name>
		<description>Able to print clinical summaries</description>
	</privilege>
	
	<globalProperty>
		<property>@MODULE_ID@.generated</property>
		<defaultValue>clinicalsummary/generated</defaultValue>
		<description>Directory in the file system where clinical summaries are generated.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.encryption</property>
		<defaultValue>clinicalsummary/encryption</defaultValue>
		<description>Directory in the file system where clinical summaries secret file are generated.</description>
	</globalProperty>
    <globalProperty>
		<property>@MODULE_ID@.zipped</property>
		<defaultValue>clinicalsummary/zipped</defaultValue>
		<description>Directory in the file system where patient reminder logs are located.</description>
	</globalProperty>
    <globalProperty>
		<property>@MODULE_ID@.batch.counter</property>
		<defaultValue>0</defaultValue>
		<description>Batch cluster offset to rotate the batch generation of summary</description>
	</globalProperty>
    <globalProperty>
		<property>@MODULE_ID@.batch.initialized</property>
		<defaultValue/>
		<description>Flag to decided whether all location cluster have been initialized with default summary</description>
	</globalProperty>
    <globalProperty>
		<property>@MODULE_ID@.generator.delay</property>
		<defaultValue/>
		<description>Delay before generator fallback to grab pre-generated summary</description>
	</globalProperty>
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		SummaryTemplate.hbm.xml
		SummaryError.hbm.xml
		SummaryIndex.hbm.xml
		WeightAgeStandard.hbm.xml
	</mappingFiles>
	
</module>
