<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>clinicalsummary</id>
	<name>Clinical Summary Module</name>
	<version>2.3</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Brian McKown</author>
	<description>
			Very Basic OpenMRS patient clinical summary.<br/>
			Adds a link to the patient's dashboard as well as an administration section 
			to handle mulitple summaries at once.
			
			See <a href="http://openmrs.org/wiki/Clinical_Summary_Module">http://openmrs.org/wiki/Clinical_Summary_Module</a> for more information
	</description>

	<activator>@MODULE_PACKAGE@.ClinicalSummaryActivator</activator>
	
	<updateURL>https://dev.openmrs.org/modules/download/clinicalsummary/update.rdf</updateURL>
	<!-- /Base Module Properties -->
	
	<require_version>1.1.10.2290</require_version>
	
	<extension>
		<point>org.openmrs.patientDashboard.Header</point>
		<class>@MODULE_PACKAGE@.extension.html.SummaryDashboardHeaderExt</class>
	</extension>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.SummaryAdminExt</class>
	</extension>
	
	<advice>
		<point>org.openmrs.hl7.HL7Service</point>
		<class>@MODULE_PACKAGE@.advice.EncounterCreatedAdvice</class>
	</advice>
	
	<privilege>
		<name>Manage Clinical Summaries</name>
		<description>Able to add/edit/delete a clinical summary</description>
	</privilege>
	
	<privilege>
		<name>View Clinical Summary</name>
		<description>Able to view/generate clinical summaries</description>
	</privilege>
	
	<privilege>
		<name>Print Clinical Summary</name>
		<description>Able to print clinical summaries from the queue</description>
	</privilege>
	
	<globalProperty>
		<property>@MODULE_ID@.printingLogicClass</property>
		<defaultValue>org.openmrs.module.clinicalsummary.AMPATHClinicalSummaryPrintingLogic</defaultValue>
		<description>The full class name of the class that will determine whether to print an encounter or not. Example: org.openmrs.module.clinicalsummary.AMPATHClinicalSummaryPrintingLogic</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.queueItemGenerateDir</property>
		<defaultValue>clinicalsummary/generated</defaultValue>
		<description>Directory in the file system where clinical summaries are generated.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.queueItemPrintDir</property>
		<defaultValue>clinicalsummary/to_print</defaultValue>
		<description>Directory in the file system where clinical summaries will be printed.</description>
	</globalProperty>
	
		
	<servlet>
		<servlet-name>generate</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.GenerateSummariesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>processPrintingQueue</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.servlet.ProcessPrintingQueueServlet</servlet-class>
	</servlet>
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		ClinicalSummary.hbm.xml
		ClinicalSummaryQueueItem.hbm.xml
	</mappingFiles>
	
</module>

