<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CLINICAL_SUMMARY_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/clinicalsummary/reminder_errors.log"/> 
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%C{1}.%M|%d{ISO8601}|%m%n"/>
		</layout>
	</appender>
	<logger name="org.openmrs.module.clinicalsummary.advice.EncounterCreatedAdvice">
		<level value="ERROR"/>
		<appender-ref ref="CLINICAL_SUMMARY_FILE"/>
	</logger>
	<logger name="org.openmrs.module.clinicalsummary.ReminderLog">
		<level value="ERROR"/>
		<appender-ref ref="CLINICAL_SUMMARY_FILE"/>
	</logger>
</log4j:configuration>
